@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #4A7C78;
  --secondary-color: #2F5C4C;
  --foreground: #0D1A18;
  --background: #F7F5F2;
  --accent-color: #F2D28C;
  --light-color: #A8D1C2;
  --dark-color: #1E2F2C;

  --title-font: "IBM Plex Sans", sans-serif;
  --text-font: "Roboto", sans-serif;
  --additionnal-font: "Lora", serif;
}

*,
*::before,
*::after {
    transition: all 300ms 
}

#app {
  background-color: var(--background); /* white*/

}
